body {margin:0;}

.navbar {
/*  overflow: hidden;*/
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float:right;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 15px; /* Used in this example to enable scrolling */
}
.dropbtn {
    
    background-color: #4CAF50;
    color: white;
    padding: 21px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float:right;
    position: relative;
    display: inline-block;   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
 margin: 0 auto;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:table-cell;}

.logo {
	color:#f2f2f2;
	font-size:40px;
	line-height:40px;
	float:left;
        padding: 10px;
}
.dropbt {
    
    background-color: #4CAF50;
    color: white;
    padding: 21px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbt:hover, .dropbt:focus {
    background-color: #3e8e41;
}

.dropdow {
    float:right;
    position: relative;
    display: inline-block;   
}

.dropdow-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdow-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
 margin: 0 auto;
}

.dropdow a:hover {background-color: #f1f1f1}